---
name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1

      - uses: actions/setup-go@v6
        with:
          go-version: '1.26'

      - name: run code generator
        run: make generate

      - name: build binary
        run: make build

      - name: run all tests
        run: make tests
